<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <% end %>
    </div>

    <ul class="user-tabs">
          <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
          <li><%= link_to("ありがとう!", "/users/#{@user.id}/thanks") %></li>
        </ul>



    <% @user.tweets.each do |tweet| %>
    <div class="tweet-index-item">
      <div class="tweet-left">
       <img src="<%= "/user_images/#{tweet.user.image_name}" %>">
     </div>
     <div class="tweet-right">
       <div class="tweet-user-name">
         <%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %>
       </div>
      <%= link_to(tweet.content, "/tweet/#{tweet.id}") %>
    </div>
  </div>
   <!-- 以下の<% %>を使ってeach文のendを追加してください -->
   <% end %>

  </div>
</div>
